@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #D8BFD8;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    height: 64px;
    font-size: 13px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    margin: 0px 0px 40px 0px 
}

.header__container{
    margin: 0px auto;
    max-width: 1104px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    flex: 0 1 1000px;
    font-weight: 600;
    font-size: 18px;
    color: black;
}

.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 151px;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav__item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    transition-duration: 0.3s;
}

.nav__item:hover{
    box-shadow: 0 -2px 0 0 #666666 inset;
    color: rgba(0, 0, 0, 0.8);
}

.nav__item--sign_up {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition-duration: 0.3s;
}

.nav__item--sign_up:hover {
    box-shadow: 0 -2px 0 0 #1d995b inset;
    color: #1d995b;
}

.title{
    min-height: 48px;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
}

.subtitle{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.main-info{
    display: flex;
    height: 812px;
    padding: 40px 128px;
    flex-direction: column;
    align-items: center;
}

.main-info__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.main-info__text{
    display: flex;
    width: 912px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.main-info__button{
    display: inline-block;
    background-color: #24ad69;
    padding: 16px 36px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    transition: 0.3s;
}

.main-info__button:hover{
    background-color: #1a814e;
    color: lightgoldenrodyellow;
}

.main-info_pic{
    max-width: 1104px;
    max-height: 460px;
}

.main-info_pic img {
    object-fit: fill;
}

.flower {
    max-height: 460px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flower__header {
    display: flex;
    width: 100%;
    padding: 25px 10px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.flower__body {
    width: 100%;
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
}

.flower__column {
    display: flex;
    width: 336px;
    min-height: 232px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px;
    background-color: #fff;
}

.flower__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.flower__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

}

.flower__text{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}


.footer{
    width: 100%;
    height: 128px;
    margin: 64px 0px 0px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__line{
    width: 1104px;
    height: 20px;
    box-shadow: 0px -1px 0px 0px #b8b7b7 inset;
    margin: 20px 128px 20px;
    flex: 0 0 1104px;
}

.footer__content{
    flex: 0 1 1104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1104px;
    margin: 0px 0px 24px 0px;
}

.footer__left{
    width: 300px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.footer__right{
    width: 238px;
    color: rgba(0, 0, 0, 0.54);
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.mail {
    color: #336FEE;
}

@media (max-width: 1200px) {
    .header__container{
        min-width: 800px;
    }
    .nav__item{
        min-height: 64px;
    }
    .main-info{
        padding: 10px;
    }
    .main-info__text{
        width: 90%;
        flex-wrap: wrap;
    }
}

.petsawai__header{
    padding: 50px;
    min-height: auto;
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.petsawai__card {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    border-radius: 100px;
    box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.petsawai__photo {
    height: 300px;
    width: 300px;
    object-fit: cover;
    position: center;
    margin: 0 auto;
}

.petsawai__photo img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.swiper {
    width: 50%;
    height: 70%;
    position: center;
    margin: 0 auto;
}

.swiper-wrapper {
    margin: 5%;
    justify-content: center
}

.swiper-button-prev, .swiper-button-next, .swiper-pagination {
    --swiper-theme-color: #1a814e;
}